/* RESET */
:root {
	--primary-color: #000;
	--yellow: #ffc400;
	--red: #f56969;
	--pink: #f759a8;
	--violet: #b37dfd;
	--blue: #55b7ff;
	--green: #45dd74;
	--light-yellow: rgba(255, 196, 0, 0.4);
	--light-red: rgba(245, 105, 105, 0.4);
	--light-pink: rgba(247, 89, 168, 0.4);
	--light-violet: rgba(178, 125, 253, 0.4);
	--light-blue: rgba(85, 184, 255, 0.4);
	--light-green: rgba(69, 221, 117, 0.4);

	--purple: #7020f0;

	--outline-button-hover-color: rgb(247, 247, 247);

	--border-color: #c9c9c9;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

button {
	user-select: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: rgb(0, 79, 248);
	font-weight: 500;
}

::selection {
	color: var(--primary-color);
	background: #ffebaa;
}

.yellow-color {
	color: var(--yellow);
}
.red-color {
	color: var(--red);
}
.pink-color {
	color: var(--pink);
}
.violet-color {
	color: var(--violet);
}
.blue-color {
	color: var(--blue);
}
.green-color {
	color: var(--green);
}

.purple-color {
	color: var(--purple);
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.25rem;
	font-weight: 600;
}

input,
select {
	background-color: #fff;
	color: #000;
	border: 1px solid var(--border-color);
	font-size: 1rem;
	outline: none;
	padding: 0.8rem;
	border-radius: 0.5rem;
	margin: 0.5rem 0;
}

input:focus {
	border-color: #000;
}

input::placeholder {
	color: var(--border-color);
}
